<section class="min-h-fit lg:h-screen bg-dark-200 pb-5">
     <h1 class="p-5 md:3 text-md lg:text-5xl font-bold text-secondary-200 text-center">Our Services</h1>
     <div class="flex justify-evenly ">
        <div class="flex-1 p-1 max-w-[40%] md:max-w-sm border-primary-400 border m-1 md:m-5 rounded-lg shadow-md shadow-secondary-200">
            <ul class="m-1 md:p-5 md:m-5">
                <li class="text-white text-xs md:text-lg p-1 md:p-3 d-flex" *ngFor="let item of ac$ | async">
                    {{item}}
                </li>
            </ul>
        </div>
        
        <div class="flex-1   p-1 max-w-[40%] md:max-w-sm border-primary-400 border m-1 md:m-5 rounded-lg shadow-md shadow-secondary-200">
            <ul class="m-1 md:p-5 md:m-5">
                <li class="text-white text-xs md:text-lg p-1 md:p-3 d-flex" *ngFor="let item of fridge$ | async">
                    {{item}}
                </li>
            </ul>
        </div>
        
    </div>
    
    
</section>