<section class="bg-primary-400  min-h-fit">
    <div class="container mx-auto">
        <h1 class="p-7 md:3 text-md lg:text-5xl font-bold text-dark-200 text-center">Why Us</h1>
    <div class="grid  grid-cols-4 gap-1">
        <div class="col-span-2 md:col-span-2 p-2 md:p-5 m-2 rounded-lg bg-dark-200 text-secondary-200 shadow-sm shadow-secondary-800">
            <h2 class="text-white text-2xl">Expertise</h2>
            <p class="pt-1 lg:pt-5 text-justify"> We are dedicated to delivering top-notch service and resolving your AC and fridge issues with precision.</p>
        </div>
        <div class="col-span-2 md:col-span-2 p-2 md:p-5 m-2 md:m-1 rounded-lg bg-dark-200 text-secondary-200 shadow-md shadow-secondary-800">
            <h2 class="text-white text-2xl"> Emergency Services:</h2>
            <p class="pt-1 lg:pt-5 text-justify">AC or fridge troubles don't always happen during regular business hours. That's why we offer emergency repair services. You can count on us to be there when you need us the most.</p>
        </div>
        <div class="p-5 col-span-4 md:colspan-1 ml-1 rounded-lg mr-2 bg-dark-200 text-secondary-200 shadow-md shadow-secondary-800">
            <h2 class="text-white text-2xl"> Transparent Pricing</h2>
            <p class="lg:pt-5 text-justify">No hidden fees, no surprises. We believe in transparent pricing, and we'll provide you with a clear estimate before starting any work. Our commitment is to offer fair and competitive prices for our services.</p>
        </div>
        <div class="col-span-4 md:col-span-2 p-5 m-2 rounded-lg bg-dark-200 text-secondary-200 shadow-lg shadow-secondary-800 ">
            <h2 class="text-white text-2xl">Customer Satisfaction</h2>
            <p class="lg:pt-5 text-primary-200 text-justify">Your satisfaction is our priority. We take pride in our commitment to providing excellent customer service. Our goal is to exceed your expectations and ensure a hassle-free experience from start to finish.</p>

        </div>
        <div class="p-5 m-2 col-span-2 md:col-span-1 bg-dark-200 rounded-lg text-secondary-200">
            <h2 class="text-white text-2xl">Quality Repairs</h2>
            <p class="lg:pt-5 text-justify">We use the latest technology and high-quality parts to ensure lasting repairs. Our meticulous approach ensures that your appliances not only work again but work at their optimal capacity.            </p>

        </div>
        <div class="p-5 m-2 col-span-2 md:col-span-1 bg-dark-200 rounded-lg text-secondary-200">
            <h2 class="text-white text-2xl">Expertise</h2>
            <p class="lg:pt-5 text-justify"> We are dedicated to delivering top-notch service and resolving your AC and fridge issues with precision.</p>

        </div>
        <div class="col-span-4 md:col-span-3 rounded-lg p-5 m-2 bg-dark-200 text-secondary-200">
            <h2 class="text-white text-2xl">Customer Reviews</h2>
            <p class="lg:pt-5 text-justify"> Don't just take our word for it. Explore what our satisfied customers have to say. Check out our testimonials and reviews to see why so many people choose Aliya Service for their AC and fridge repair needs.</p>
        </div>
      </div>
    </div>
</section>
