<div
  class="w-full max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-dark-200 dark:border-gray-700 flex flex-col"
>
  <div class="flex items-center justify-center overflow-hidden h-48 md:h-72">
    <img
      class="p-8 rounded-t-lg object-cover w-full h-full"
      [ngSrc]="product.thumbnail"
      width="700"
      height="700"
      alt="product image"
    />
  </div>
  <div class="px-5 pb-5 flex-grow flex flex-col justify-between">
    <h5
      class="text-sm md:text-xl font-semibold tracking-tight text-gray-900 dark:text-white line-clamp-2 h-12 md:h-16"
    >
      {{product.name}}
    </h5>
    <p class="text-gray-900 dark:text-white h-6 md:h-8 text-clip overflow-hidden">Brand: {{product.company}}</p>
    <div class="flex items-center justify-between mt-4">
      <span class="text-sm md:text-3xl font-bold text-gray-900 dark:text-white">₹{{product.price}}</span>
      <aliya-button
        (click)="navigateToDetail(product._id)"
        animation="C"
        shade="L"
        size="S"
        name="View Details"
      ></aliya-button>
    </div>
  </div>
</div>
