<section id="testimonials" class="h-1/2 bg-dark-200">
  <div class="container mx-auto">
    <h1
      class="p-5 md:3  text-md lg:text-4xl font-bold text-secondary-200 text-center"
    >
      Client Testimonials
    </h1>
    <div
      class="grid  grid-cols-2 md:grid-cols-4 gap-4 max-w-screen-lg  mx-auto md:p-5  p-1"
    >
      <div
        class="min-w-xs p-3 sm:p-0.5 bg-white border border-gray-200 rounded-lg shadow dark:bg-secondary-800 dark:border-gray-700"
      >
        <div class="flex">
          <img
            class="w-10 h-10 rounded-full"
            src="https://ucarecdn.com/de7cbf84-3c40-43d8-977e-bc0ee3a202d6/-/preview/600x600/"
            alt="Rounded avatar"
          />
          <div class="ml-2">
            <p class="text-white">Gislin .M.S</p>
            <p>ThattarVillai</p>
          </div>
        </div>
        <blockquote
          class="text-sm italic font-semibold text-gray-900 dark:text-white"
        >
          <p>
            "Very impressed with the professionalism and efficiency. The technician was friendly and knowledgeable, and the repair was completed faster than expected. My fridge is as good as new!"
          </p>
        </blockquote>
      </div>
      <div
      class="min-w-xs p-3 sm:p-0.5 bg-white border border-gray-200 rounded-lg shadow dark:bg-secondary-800 dark:border-gray-700"
    >
      <div class="flex">
        <img
          class="w-10 h-10 rounded-full"
          src="https://ucarecdn.com/8468d1d7-54a8-4fac-9703-e1e025d2b5d2/-/preview/600x600/"
          alt="Rounded avatar"
        />
        <div class="ml-2">
          <p class="text-white">C.Anish</p>
          <p>Pauththarai</p>
        </div>
      </div>
      <blockquote
        class="text-sm italic font-semibold text-gray-900 dark:text-white"
      >
        <p>
          "Quick, reliable, and affordable! They fixed my fridge the same day I called, and it’s been working perfectly ever since. The whole experience was seamless. Five stars!"
        </p>
      </blockquote>
    </div>
    <div
    class="min-w-xs p-3 sm:p-0.5 bg-white border border-gray-200 rounded-lg shadow dark:bg-secondary-800 dark:border-gray-700"
  >
    <div class="flex">
      <img
        class="w-10 h-10 rounded-full"
        src="https://ucarecdn.com/758b5b75-a46b-4e8c-a922-d379bdb0b48b/-/preview/600x600/"
        alt="Rounded avatar"
      />
      <div class="ml-2">
        <p class="text-white">Jebin .F.M</p>
        <p>ThattarVillai</p>
      </div>
    </div>
    <blockquote
      class="text-sm italic font-semibold text-gray-900 dark:text-white"
    >
      <p>
        "Fantastic service! My AC broke down in the middle of summer, and they had it up and running in no time. The technician was professional and explained everything clearly. Highly recommend!"
      </p>
    </blockquote>
  </div>
  <div
  class="min-w-xs p-3 sm:p-0.5 bg-white border border-gray-200 rounded-lg shadow dark:bg-secondary-800 dark:border-gray-700"
>
  <div class="flex">
    <img
      class="w-10 h-10 rounded-full"
      src="https://ucarecdn.com/c4805f37-1808-42a1-8777-223549830495/-/preview/600x600/"
      alt="Rounded avatar"
    />
    <div class="ml-2">
      <p class="text-white">Rathesh</p>
      <p>ThattarVillai</p>
    </div>
  </div>
  <blockquote
    class="text-sm italic font-semibold text-gray-900 dark:text-white"
  >
    <p>
      "Exceptional customer service and top-notch repair work. They arrived on time, diagnosed the problem quickly, and had the parts needed to fix my AC right away. I couldn’t be happier with the service."
    </p>
  </blockquote>
</div>

      
    </div>
  </div>
</section>
