<section class="h-1/2 bg-dark-200">
  <div class="container mx-auto">
    <h1
      class="p-5 md:3 text-md lg:text-4xl font-bold text-secondary-200 text-center"
    >
      Client Testimonials
    </h1>
    <div
      class="grid grid-cols-2 md:grid-cols-4 gap-4 max-w-screen-lg gap-10 mx-auto p-5"
    >
      <div
        class="min-w-xs p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-secondary-800 dark:border-gray-700"
      >
        <div class="flex">
          <img
            class="w-10 h-10 rounded-full"
            src="https://i.insider.com/64c7a2c9048ff200190deaf5?width=1000&format=jpeg&auto=webp"
            alt="Rounded avatar"
          />
          <div class="ml-2">
            <p class="text-white">Elon Musk</p>
            <p>USA</p>
          </div>
        </div>
        <blockquote
          class="text-sm italic font-semibold text-gray-900 dark:text-white"
        >
          <p>
            "Flowbite is just awesome. It contains tons of predesigned
            components and pages starting from login screen to complex
            dashboard. Perfect choice for your next SaaS application."
          </p>
        </blockquote>
      </div>

      <div
        class="max-w-xs p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-secondary-800 dark:border-gray-700"
      >
        <div class="flex">
          <img
            class="w-10 h-10 rounded-full"
            src="https://i.insider.com/64c7a2c9048ff200190deaf5?width=1000&format=jpeg&auto=webp"
            alt="Rounded avatar"
          />
          <div class="ml-2">
            <p class="text-white">Elon Musk</p>
            <p>USA</p>
          </div>
        </div>
        <blockquote
          class="text-sm italic font-semibold text-gray-900 dark:text-white"
        >
          <p>
            "Flowbite is just awesome. It contains tons of predesigned
            components and pages starting from login screen to complex
            dashboard. Perfect choice for your next SaaS application."
          </p>
        </blockquote>
      </div>
      <div
        class="max-w-xs p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-secondary-800 dark:border-gray-700"
      >
        <div class="flex">
          <img
            class="w-10 h-10 rounded-full"
            src="https://i.insider.com/64c7a2c9048ff200190deaf5?width=1000&format=jpeg&auto=webp"
            alt="Rounded avatar"
          />
          <div class="ml-2">
            <p class="text-white">Elon Musk</p>
            <p>USA</p>
          </div>
        </div>
        <blockquote
          class="text-sm italic font-semibold text-gray-900 dark:text-white"
        >
          <p>
            "Flowbite is just awesome. It contains tons of predesigned
            components and pages starting from login screen to complex
            dashboard. Perfect choice for your next SaaS application."
          </p>
        </blockquote>
      </div>
      <div
        class="max-w-xs p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-secondary-800 dark:border-gray-700"
      >
        <div class="flex">
          <img
            class="w-5 md:w-10 h-5 md:h-10 rounded-full"
            src="https://i.insider.com/64c7a2c9048ff200190deaf5?width=1000&format=jpeg&auto=webp"
            alt="Rounded avatar"
          />
          <div class="ml-2">
            <p class="text-white text-xs md:text-md">Elon Musk</p>
            <p class="text-xs md:text-md">USA</p>
          </div>
        </div>
        <blockquote
          class="text-xs md:text-sm italic font-semibold text-gray-900 dark:text-white"
        >
          <p>
            "Flowbite is just awesome. It contains tons of predesigned
            components and pages starting from login screen to complex
            dashboard. Perfect choice for your next SaaS application."
          </p>
        </blockquote>
      </div>
    </div>
  </div>
</section>
